@using BlazorApp.Service
@inject DialogService DialogService

@foreach (var dialog in dialogs)
{

    @if (dialog != null)
    {
        <div class="dialog-overlay">

            <!-- Dialog本体 -->
            <div class="dialog-container">

                <!-- タイトル -->
                <div class="dialog-header">
                    <h5>@dialog.Title</h5>
                </div>

                <!-- コンテンツ -->
                <div class="dialog-body">
                    @dialog.ChildContent
                </div>


            </div>
        </div>
    }
}

@code {
    private List<DialogEntry> dialogs = new();

    protected override void OnInitialized()
    {
        DialogService.OnOpen += (title, parameters, options, flagment) =>
        {
            dialogs.Add(new DialogEntry(title, parameters, options, flagment));
            StateHasChanged();
        };

        DialogService.OnClose += (result) =>
        {
            if (dialogs.Count > 0)
                dialogs.RemoveAt(dialogs.Count - 1); // 最後のダイアログを閉じる
            StateHasChanged();
        };
    }

    private void Submit(DialogEntry entry)
    {
        DialogService.Close(true);
        dialogs.Remove(entry);
        StateHasChanged();
    }

    private void Cancel(DialogEntry entry)
    {
        DialogService.Close(false);
        dialogs.Remove(entry);
        StateHasChanged();
    }

    private class DialogEntry
    {
        public RenderFragment? ChildContent { get; set; }
        public string Title { get; set; }
        public Dictionary<string, object>? Parameters { get; set; }
        public DialogOptions Options { get; set; }

        public DialogEntry(string title, Dictionary<string, object>? parameters, DialogOptions options, RenderFragment? childContent = null)
        {
            Title = title;
            Parameters = parameters;
            Options = options;
            ChildContent = childContent;
        }
    }

}