@using BlazorApp.Core.State
@using BlazorApp.EntityFramework.Models

<div class="display-option-editor">

    <div class="option-row">
        <label>列数:</label>
        <input type="number" @bind="Section.ColumnNumber" maxlength="4" />

        <label>行数:</label>
        <input type="number" @bind="Section.RowNumber" maxlength="4" />

        <label>セル幅:</label>
        <input type="number" @bind="Section.WidthPerCell" maxlength="4" />

        <label>セル高さ:</label>
        <input type="number" @bind="Section.HeightPerCell" maxlength="4" />

        <label>画面幅:</label>
        <input type="number" @bind="Section.ScreenWidth" maxlength="4" />

        <label>画面高さ:</label>
        <input type="number" @bind="Section.ScreenHeight" maxlength="4" />
    </div>
</div>

@code {
    [Parameter] public LayoutSection Section { get; set; } = new();

    // 値が変わったことを親に通知するためのコールバック
    [Parameter] public EventCallback<LayoutSection> DisplayParameterChanged { get; set; }

    private async Task NotifyChange()
    {
        if (DisplayParameterChanged.HasDelegate)
        {
            await DisplayParameterChanged.InvokeAsync(Section);
        }
    }

}