@using BlazorApp.EntityFramework.Models
@using BlazorApp._state

<div class="display-option-editor">
    <div class="option-row">
        <label class="sticky-label">列数:</label>
        <input class="aqua-input"
               type="number"
               @bind="DisplayOption.ColumnNumber" />

        <label class="sticky-label">行数:</label>
        <input class="aqua-input"
               type="number"
               @bind="DisplayOption.RowNumber" />

        <label class="sticky-label">セル幅:</label>
        <input class="aqua-input"
               type="number"
               @bind="DisplayOption.WidthPerCell" />

        <label class="sticky-label">セル高さ:</label>
        <input class="aqua-input"
               type="number"
               @bind="DisplayOption.HeightPerCell" />
    </div>
</div>

@code {
    [Parameter] public DisplayOption DisplayOption { get; set; } = new();
}
