@namespace BlazorApp.Components
@using BlazorApp.ViewModel
@inherits UILayoutViewBase

<div style="@WrapperStyles.ToString()">
    <img @ref="ElementRef"
         class="@Classes.ToString()"
         style="@Styles.ToString()"
         src="Images/aqua.webp"
         alt="@Model.Name" 
         draggable="false" />
     <div class="resize-handle"></div>
</div>

@code {
    private string Src { get; set; } = "Images/aqua.webp";
}
