@namespace BlazorApp.Components
@using BlazorApp.ViewModel
@inherits UILayoutViewBase


<a @ref="ElementRef"
        class="@Classes.ToString()"
        style="@Styles.ToString()">
@*         @Model.Label
 *@
    <div class="resize-handle"></div>
</a>

@code {

}
