@using BlazorApp.Core.Service;
@inject IJSRuntime JS
@inject VoiceCommandService VoiceCommand

<h3>VoiceLister</h3>
<div style="display:none"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync(
                "speech.startContinuousRecognition",
                DotNetObjectReference.Create(this)
            );
        }
    }

    [JSInvokable]
    public Task OnRecognized(string text)
    {
        var intent = VoiceCommand.ParseIntent(text);
        VoiceCommand.Execute(intent);
        return Task.CompletedTask;
    }

}
