@namespace BlazorApp.Components
@using BlazorApp.ViewModel
@using BlazorApp.EntityFramework.Enums
@inherits UILayoutViewBase

<div class="componet-Wrapper" style="@WrapperStyles.ToString()">
    <label @ref="ElementRef"
       class="@Classes.ToString()"
       style="@Styles.ToString()">
        @Model[AttributeType.Text]
    <div class="resize-handle"></div>
</label>
</div>