@* @page "/counter"
@rendermode InteractiveServer
@inject IJSRuntime JS

<PageTitle>Speaker</PageTitle>

<h1>Speaker & Listen</h1>

<h3>ボリューム調整</h3>
<input type="range" min="0" max="1" step="0.1" @bind="Volume" />

<button @onclick="Speak">喋らせる</button>

<button @onclick="StartRecognition">聞き取り開始</button>

<pre>@RecognizedText</pre>
<pre style="background-color:greenyellow;">@AdjustRecognizedText</pre>


@code {
    private double Volume { get; set; } = 1.0;

    private string RecognizedText = "";
    private string AdjustRecognizedText = "";

    private Dictionary<string, Action> CommandMap;

    protected override void OnInitialized()
    {
        CommandMap = new()
        {
            { "スタート", StartAction },
            { "すたーと", StartAction },

            { "クリア", Clear },
            { "消す", Clear },

        // ※asyncの場合はラムダで
            // { "喋れ", () => _ = Speak() },
            // { "しゃべれ", () => _ = Speak() },

            // { "赤", ChangeBackgroundRed },
            // { "あか", ChangeBackgroundRed }
        };
    }


    private async Task StartRecognition()
    {
        await JS.InvokeVoidAsync(
            "speech.startContinuousRecognition",
            DotNetObjectReference.Create(this)
        );
    }

    private async Task Speak()
    {
        await JS.InvokeVoidAsync("speech.speak",
            "喋ってみる。Speak UP"
            ,
            Volume
        );
    }

    [JSInvokable]
    public async Task OnRecognized(string text)
    {
        // 元の認識結果をログに追記
        RecognizedText += $"{text}\n";

        AdjustRecognizedText += $"[fixed] {text}\n";

        // コマンド実行
        HandleVoiceCommand(text);

        StateHasChanged();
    }

    private void HandleVoiceCommand(string text)
    {
        foreach (var kv in CommandMap)
        {
            if (text.Contains(kv.Key, StringComparison.OrdinalIgnoreCase))
            {
                kv.Value.Invoke();
                break;
            }
        }
    }

    // TestCode
    private void StartAction()
    {
        RecognizedText += "[cmd] スタート実行\n";
    }
    private void Clear()
    {
        RecognizedText = string.Empty;
        AdjustRecognizedText = string.Empty;
    }
}
 *@