@page "/"

<MainLayout>
    <MainContent>
        <div class="scene">
            <div class="droplet"></div>
            <div class="ripple ripple1"></div>
            <div class="ripple ripple2"></div>

            <p class="typewriter-text">
                <span class="typed"></span><span class="cursor"></span>
            </p>
            <div class="masked-content">
                <img src="images/aqua.webp" alt="AquaFlowStyle ロゴ" />
            </div>
        </div>
    </MainContent>
</MainLayout>
